* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero .container-fluid .img {
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero .container-fluid .hero_text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 44px;
}

.hero .container-fluid .hero_ptext {
    display: flex;
    justify-content: center;
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-bottom: 10px;
}

.karty .card {
    width: 300px;
    margin-top: 50px;
}

.inv_sec .card {
    margin-bottom: 30px;
}

.karty .card h5 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
}

.karty .card  h6 {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.karty .card  p {
    font-size: 15.5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-bottom: 10px;
}

.gallery img {
    width: 225px;
    height: 125px;
    margin-top: 20px;

}

.karty .span_uni {
    font-size: 16px;
    font-weight: 600;
}

.hero .span_uni {
    font-size: 22px;
    font-weight: 600;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vrhy_div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(180, 180, 180);
}
.vrh_div {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(199, 199, 199) ;
    width: 90%;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.s_sec .p_text {
    display: flex;
    justify-content: center;
}

.s_sec .dv_s .h_mtext {
    display: flex;
    justify-content: center;
}

.s_sec .dv_s .p_text {
    display: flex;
    justify-content: center;
}

.o_div .p_text {
    display: flex;
    justify-content: center;
}

.l_dv {
    margin-left: 10px;
    margin-bottom: 20px;
}

.o_div .h_mtext {
    margin-left: 20px;
}

.o_div .btn {
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o_dv {
    margin-left: 10px;
}

.f_dv {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f_dv .h_text {
    padding-top: 10px;
}


@media (min-width: 768px) {

    .hero .container-fluid {
    background-image: url(imgs/tarantule-pavouk-jidlo.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 85%;
}
    
}